@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-image: url("https://source.unsplash.com/TiDa-gEog-s");
    background-color: #f7f7f7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    text-align: center;
    background-color: rgba(28, 28, 28, 0.8);
    border: 3px dashed rgba(28, 28, 28, 0.6);
    border-radius: 50px;
    margin: 30px auto;
    padding: 5px 10px 30px;
    max-width: 800px;
    width: 100%;
}

h1 {
    margin: 30px 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    letter-spacing: 8px;
    background: linear-gradient(to right, #00c492 0%, #e31547 50%, #0079ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    cursor: default;
}

footer p {
    text-align: center;
    font-size: 12px;
    cursor: default;
    font-family: "Gloria Hallelujah", cursive;
    letter-spacing: 3px;
    margin-bottom: 5px;
    color: #1c1c1c;
  }
  
  footer p:hover {
    color: crimson;
    transform: scale(1.1);
    transition-duration: 0.5s;
  }

  .icons {
      text-align: center;
      margin-top: 10px;
  }

  #linkedin, #github, #discord, #codepen, #mail {
      color: #1c1c1c;
      padding: 0 10px;
  }

  #linkedin:hover, #github:hover, #discord:hover, #codepen:hover, #mail:hover {
      color: crimson;
  }